<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.CMPUT301W15T06"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClaimantClaimDetailActivity"
            android:label="@string/title_activity_claimant_add_destination" >
        </activity>
        <activity
            android:name=".ClaimantApproverInfoActivity"
            android:label="@string/title_activity_claimant_approver_info" >
        </activity>
        <activity
            android:name=".ClaimantEditDestinationActivity"
            android:label="@string/title_activity_claimant_destination_reason" >
        </activity>
        <activity
            android:name=".ClaimantReciptActivity"
            android:label="@string/title_activity_claimant_recipt" >
        </activity>
        <activity
            android:name=".ClaimantTagListActivity"
            android:label="@string/title_activity_claimant_tag_list" >
        </activity>
        <activity
            android:name=".ApproverClaimListActivity"
            android:label="@string/title_activity_approver_claim_list" >
        </activity>
        <activity
            android:name=".ApproverItemListActivity"
            android:label="@string/title_activity_approver_item_list" >
        </activity>
        <activity
            android:name=".ApproverClaimDetailListActivity"
            android:label="@string/title_activity_approver_claim_detail_list" >
        </activity>
        <activity
            android:name=".ApproverReciptActivity"
            android:label="@string/title_activity_approver_recipt" >
        </activity>
        <activity
            android:name=".ClaimantClaimListActivity"
            android:label="@string/title_activity_claimant_claim_list" >
        </activity>
        <activity
            android:name=".ClaimantAddClaimActivity"
            android:label="@string/title_activity_claimant_add_claim" >
        </activity>
        <activity
            android:name=".ClaimantItemListActivity"
            android:label="@string/title_activity_claimant_item_list" >
        </activity>
        <activity
            android:name=".ClaimantAddItemActivity"
            android:label="@string/title_activity_claimant_add_item" >
        </activity>
        <activity
            android:name=".ClaimantItemDetailActivity"
            android:label="@string/title_activity_claimant_item_detail" >
        </activity>
        <activity
            android:name=".ClaimantEditItemActivity"
            android:label="@string/title_activity_claimant_edit_item" >
        </activity>
        <activity
            android:name=".ClaimantEditClaimActivity"
            android:label="@string/title_activity_claimant_edit_claim" >
        </activity>
        <activity
            android:name=".ClaimantReceiptActivity"
            android:label="@string/title_activity_claimant_receipt" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".GetLocationByMapActivity"
            android:label="@string/title_activity_get_location_by_map" >
        </activity>
        <activity
            android:name=".ShowLocationActivity"
            android:label="@string/title_activity_show_location" >
        </activity>
    </application>

</manifest>
